<article>
  <h4>
    <%= country.name.official %>
  </h4>
  <div class="flag">
    <img src="<%= country.flags.png %>" alt="<%= country.name.official %>flag">
  </div>
  <p><span>Population: </span>
    <%= country.population.toLocaleString("en-US") %>
  </p>
  <p><span>Region: </span>
    <%= country.region %>
  </p>
  <p><span>Capital: </span>
    <%= country.capital %>
  </p>
</article>